name: Swift Package Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to test"
        required: true
        default: "main"

jobs:
  test:
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Select latest Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Display Swift version
        run: swift --version

      - name: Display Xcode version
        run: xcodebuild -version

      - name: Run macOS tests
        run: swift test

      - name: Run iOS Simulator tests
        run: xcodebuild test -scheme Simplicity -destination "platform=iOS Simulator,name=iPhone 17 Pro" -skipPackagePluginValidation

      - name: Run tvOS Simulator tests
        run: xcodebuild test -scheme Simplicity -destination "platform=tvOS Simulator,name=Apple TV" -skipPackagePluginValidation

      - name: Run watchOS Simulator tests
        run: xcodebuild test -scheme Simplicity -destination "platform=watchOS Simulator,name=Apple Watch Series 10 (46mm)" -skipPackagePluginValidation

      - name: Run visionOS Simulator tests
        run: xcodebuild test -scheme Simplicity -destination "platform=visionOS Simulator,name=Apple Vision Pro" -skipPackagePluginValidation

